/*
!/importantStuff
!/importantPackages
!/screenshots/
!/picom/
!/.gitignore
!/alacritty/
!/bspwm/
!/doom/
!/qtile/
/qtile/__pycache__/
!/nvim/
!/polybar/
!/rofi/
!/spotifyd/
!/sxhkd/
!/wallpapers/
!/wpg/
!/tmux/
!/zsh/
!/xinitrc
!/gdb/
!/colemak-extend-iso.kbd
!/README.md
!/important
!/keyboard
!/lazygit
