/*
/.gitignore
!/alacritty/
!/bspwm/
/bspwm/bspwm_colors.sh
!/dunst/
/dunst/dunstrc
!/nvim/
!/polybar/
!/rofi/
!/sxhkd/
!/wallpapers/
!/wpg/
/wpg/.current
/wpg/sequences
/wpg/wp_init.sh
!/zsh/
!/.xinitrc
!/colemak-extend-iso.kbd
!/README.md
