/*
!/importantStuff
!/screenshots/
!/picom/
!/.gitignore
!/alacritty/
!/bspwm/
!/dunst/
!/nvim/
!/polybar/
!/rofi/
!/spotifyd/
!/sxhkd/
!/wallpapers/
!/wpg/
/wpg/schemes/
!/zsh/
!/.xinitrc
!/colemak-extend-iso.kbd
!/README.md
