snippet box "Box"
`!p snip.rv = '┌' + '─' * (len(t[1]) + 2) + '┐'`
│ ${1:Text} │
`!p snip.rv = '└' + '─' * (len(t[1]) + 2) + '┘'`
$0
endsnippet

snippet fig "Figure Text"
${1:Text}`!p
from art import text2art
snip.rv = "\n" + text2art(t[1])[:-1]`
endsnippet
